<%- include("partials/header.ejs") %>

<div class="container">

    <h1><%= post.title %></h1>
    <br>
    <div class="content">
    <%- post.content
        .split(/\n\s*\n/)           // separa parágrafos
        .map(p => `<p>${p.replace(/\n/g, "<br>")}</p>`)
        .join("") 
    %>
</div>


</div>

<%- include("partials/footer.ejs") %>