<%- include("/partials/header.ejs") %>

<form action="/create" method="post">

    <label for="tittle">Tittle</label>
    <input type="text" name="tittle" class="tittle" placeholder="Tittle">

    <label for="content">Content</label>
    <input type="text" name="content" class="content" placeholder="Text">

    <button type="submit">Create Post</button>

</form>

<%- include("/partials/footer.ejs") %>