<%- include("/partials/header.ejs") %>

<div class="container">
    <% if (post.length === 0) { %>
        <p>There is no post yet</p>
        <a href="/create"><button>Create Post</button></a>
    <% }else { %>
        <% post.forEach(item => { %>
            <div class="card">
                <img src="" alt="">
                <h3><%= item.tittle %></h3>
                <span><%= item.dateOfCreation %></span>
            </div>
        <% }); %>
    <% } %>
</div>

<%- include("/partials/footer.ejs") %>