@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

li{
    position: relative;
}

li::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--bs-nav-link-color);
    transition: .3s ease;
}

li:hover::before{
    width: 100%;
}